.navbar-default {
  background-color: white;
  border-color: white;
  min-height: 72px;
  border-bottom: 3px solid #FC5451;
  margin-bottom: 0;
}

.navbar-brand {
	height: 72px;
}

.nav > li {
	margin-top: 4%;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #E53D58;
  	background-color: white;
}

#slider {
	  margin-top: 3%;
}

#slider .item img {
	width: 100%;
}

.carousel-control {
	top: 64%;
  	bottom: 26%;
  	width: 5%;
}

.carousel-control.left {
	left: 30%;
}

.carousel-control.right {
	right: 30%;
}

.sobre_nos {
	padding-top: 2%; 
}

.sobre_nos h1, #portifolio h1 {
	font-family: 'myriad_pro';
	color: #E53D58;
  	text-align: center;
  	font-weight: bold;
}

.sobre_nos p, #portifolio p{
	font-family: 'myriad_pro';
	color: #535353;
	text-align: center;
	font-size: 21px;
	width: 50%;
	margin: auto;
	padding-top: 2%;
	line-height: initial;
}

.sobre_nos hr, #portifolio hr {
	width: 16%;
	color: #B52238;
	border-top: 2px solid #B52238;

}

.img_topo_quem {
	text-align: center;
	padding: 2%;
	display: inherit;
}

.img_topo_quem img { display: inline; }

.bg_quem_somos {
	text-align: center;
	position: relative;
	z-index: 99999;
}

.bg_quem_somos img {
	
  	margin: auto;
  	text-align: center;
}

.texto_quem_somos {
	position: relative;
  	color: white;
  	background: url(../img/bg_texto_home.png) repeat;
  	padding-top: 10%;
  	margin-top: -10%;
  	text-align: center;
  	padding-bottom: 3%;
}

.texto_quem_somos h3 {
	font-family: 'segoe';
	font-size: 26px;
}

.texto_quem_somos p {
	font-family: 'myriad_pro';
	padding-top: 2%;
	padding-bottom: 2%; 
	font-size: 20px;
	width: 60%;
	margin: auto;
}

.texto_quem_somos .btn-mariana {
	font-family: 'segoe';
	font-weight: 600;
}


#portifolio {
	padding-top: 2%;
}

#portifolio h1 {
	font-weight: normal;
}

#portifolio p {
	  width: 70%;
}

.portifolio_nav .nav-tabs {
	border-bottom: none;
	height: 50px;
}

.portifolio_nav > .nav-tabs > li {
	 margin-top: 2%;
	 min-width: 10%;
}

.portifolio_nav > .nav-tabs > li > a {
	color: #535353; 
	padding: 5% 20%;
	background: #F5F5F5;
	border-radius: 0px 0px 0 0;
}

.portifolio_nav > .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #fff;
  	cursor: default;
  	background-color: #E53D58;
  	border: none;
 	border-bottom-color: transparent;
 	border-radius: 0px 0px 0 0;
 	padding: 5% 20%;
}

.portifolio_nav > .nav-tabs > li > a:hover {
	background-color: #E53D58;
  	border: none;
 	border-radius: 0px 0px 0 0;
 	color: white;
 	padding: 5% 20%;

}

.portifolio_nav {
	width: 60%;
	margin: auto;
}

#portifolio_content {
	width: 60%;
	margin: auto;
	padding-top: 2%;
	position: relative;
	overflow: auto;
}

.portifolio_galeria {
	margin-top: 3%;
	margin-bottom: 3%;
}

/*Área de artigos*/
#artigos {
	background: url('../img/bg_artigos.png') no-repeat;
	text-align: center;
	padding: 4% 2% 2% 2%;
	background-size: cover;
}

#artigos h1 {
	font-family: 'myriad_pro';
	color: #E53D58;
}

#artigos h1 span{
	color: #E53D58;
	font-weight: bold;
}

#artigos p {
	padding: 1% 2% 2% 2%;
}

#artigos hr {
	width: 16%;
	color: #B52238;
	border-top: 2px solid #B52238;
}

#artigos .item_artigos {

}

#artigos .item_artigos .bg {
	background: url('../img/bg_artigo_item.png') no-repeat center top;
	padding-top: 2%;
  	padding-bottom: 2%;
}

#artigos .item_artigos img {
	margin-left: auto; 
	margin-right: auto;
}

#artigos .item_artigos .titulo {
	color: #E5465F;
	font-family: 'segoe';
	margin-bottom: 0;
}

#artigos .item_artigos .resumo {
	font-family: 'segoe';
	color: #858585;
	padding: 2% 12%;
}

#artigos .item_artigos .btn {
	margin-top: 15%;
}

/*Área de doação*/
#doacoes {
	background: url('../img/bg_doacoes.png') repeat;
	text-align: center;
	padding: 2% 0%
}

#doacoes h1 {
	color: white;
	font-family: 'myriad_pro';
}

#doacoes hr {
	color: white;
	border-top: 2px solid white;
	width: 16%;
}

#doacoes .resumo {
	color: white;
	font-family: 'myriad_pro';
	font-size: 17px;
	line-height: 1;
	margin-bottom: 0;
	padding: 1%;

}

#doacoes p a {
	color: #E5465F;
	font-family: 'segoe';
}

#doacoes .div_buttom a img {
	padding-right: 10%;
}

/*Área de Contato*/
#contato {
	background: url('../img/bg_xicara.png') no-repeat right bottom;
	text-align: center;
	padding: 2% 0%
}

#contato h1 {
	color:#A0774F;
	font-family: 'myriad_pro';
	font-size: 30px;
	font-weight: bold;
}

#contato hr {
	color: #A0774F;
	border-top: 2px solid #A0774F;
	width: 16%;
}

#contato .resumo {
	font-family: 'myriad_pro';
	font-size: 20px;
	line-height: 1;
	margin-bottom: 0;
	padding: 1%;
	color: #949494;
}

#contato form {
	padding-top: 5%;
	text-align: left;
	padding-bottom: 2%;
}

#contato form fieldset input {
	border-bottom: 1px solid #C5C5C5;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 33%;
}

#contato form fieldset label {
	color: #868686;
	font-weight: normal;
}

#contato form fieldset textarea {
	border-bottom: 1px solid #C5C5C5;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 50%;
}

#contato form .div_buttom {
	text-align: left;
}

/*Área de Rodapé*/
footer {
	background: #E53D58;
	color: white;
	border-bottom: 20px solid #51473F;
	text-align: center;
	padding: 1%;
	font-family: 'myriad_pro';
	position: relative;
}

.separador_footer {
	position: relative;
}

.separador_footer img {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	margin-bottom: -1%;
}

footer .redes_sociais {
	width: auto;
	overflow: hidden;
	padding-top: 2%;
	margin: auto;
}

footer .redes_sociais .face { 
	width: 30px;
	height: 28px;
	background-color: rgb(205, 46, 71);
	border-radius: 4px;	
	margin-right: 5px;
}
footer .redes_sociais .face img {
	width: 10px;
	height: 15px;
	margin-top: 30%;
}

footer .redes_sociais .twitter { 
	width: 30px;
	height: 28px;
	background-color: rgb(205, 46, 71);
	border-radius: 4px;
	margin-right: 5px;
	vertical-align: bottom;	
}
footer .redes_sociais .twitter img {
	width: 16px;
	height: 12px;
	margin-top: 33%;
}

footer .redes_sociais .linkedin {
	width: 30px;
	height: 28px;
	background-color: rgb(205, 46, 71);
	border-radius: 4px;	
}
footer .redes_sociais .linkedin img {
	width: 15px;
	height: 15px;
	margin-top: 30%;	
}
footer .texto {
	
}

footer .texto p {
	margin-bottom: 0;
}


.div_buttom {
	text-align: center;
	margin-top: 3%;
	font-weight: bold;
}

.div_buttom .btn-mariana {
	font-weight: bold;
}

.btn-mariana, .btn-artigo {
	color: #fff;
  	background-color: #E53D58;
  	border-color: #D9354F;
  	font-family: 'segoe';
  	box-shadow: 0px 3px 0px #C40F2B;
  	-webkit-box-shadow: 0px 3px 0px #C40F2B;
  	-moz-box-shadow: 0px 3px 0px #C40F2B;
}	

.btn-mariana:focus,
.btn-mariana.focus {
  color: #fff;
  background-color: #E53D58;
  border-color: #E53D58;
}
.btn-mariana:hover {
  color: #fff;
  background-color: #E53D58;
  border-color: #E53D58;
}

.btn-artigo {
	background-color: #A0774F;
	background: #A0774F;
	border-color: #A0774F;
	box-shadow: 0px 3px 0px #A0774F;
	-webkit-box-shadow: 0px 3px 0px #6B431C;
  	-moz-box-shadow: 0px 3px 0px #6B431C;
	
}

.btn-artigo:focus, .btn-artigo.focus {
	color: #fff;
  	background-color: #A0774F;
  	border-color: #A0774F;
}

.btn-artigo:hover {
	color: #fff;
	background-color: #A0774F;
	border-color: #A0774F;
}

.btn-doacao {
	color: #E53D58;
	background-color: #FFF;
	background: #FFF;
	font-family: 'segoe';
	font-weight: bold;
	
}

.btn-doacao:focus, .btn-doacao.focus {
	color: #E53D58;
  	background-color: #FFF;
  	border-color: #FFF;
}

.btn-doacao:hover {
	color: #E53D58;
	background-color: #FFF;
	border-color: #FFF;
}


