#topo_quem_somos {
	background: url(../img/bg_sobre.png) no-repeat;
	background-size: cover;
}

.quem_faz {
	background: white;
	width: 61%;
	overflow: hidden;
	margin: auto;
	margin-top: 13%;
	padding-bottom: 5.3%;
	font-family: 'myriad_pro';
}

.quem_faz h1 {
	color: #E53D58;
	font-family: 'myriad_pro';
	padding-top: 3%;
}

.quem_faz .resumo {
	color: #9999A5;
	font-family: 'myriad_pro';
	font-size: 22px;
}

.quem_faz .foto img {
	width: 175px;
	height: 175px;
	border-radius: 100px;
	margin-top: 10%;
	margin-left: 17%;
}

.quem_faz p {
	font-size: 20px;
}

#topo_quem_somos .apresentacao {
	padding-bottom: 10%;
}

.corpo {
	font-family: 'myriad_pro';
	color: #9999A5;
	width: 80%;
	margin: auto;
	border-top: 10px solid #E53D58;
	margin-top: -35px;
	background-color: white;
	background: white;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 2%;
	padding-right: 2%;
	font-size: 16px;
}

.corpo h1 {
	color: #E53D58;
	text-align: center;
	padding-bottom: 2%;
}

.corpo .resumo {
	width: 80%;
	margin: auto;
	padding-top: 3%;
	padding-bottom: 3%
}

.corpo .separador {
	overflow: hidden;
	width: 100%;
	margin: auto;
}

.corpo .separador .colunas {
	  width: 31%;
}

.corpo .separador img {
	margin: auto;
}